= form_for @post do |f|
  = f.label t("post.new_message"), :id => "post_label"
  = f.text_field :message
  = f.hidden_field :message_type, :value => "submit"
  = f.submit "Create with ajax", :class => "ajax_save button"
  = f.submit "Create wis js_erb", :class => "js_erb_save button"
  = f.submit "Create with submit", :class => "button"
.posts
  Посты AJAX
  %br
  .ajax_posts
    -@posts["ajax"].each do |p|
      = p.message
      = p.created_at
      %br
.posts
  Посты JS erb
  %br
  .js_erb_posts
    -@posts["js_erb"].each do |p|
      = p.message
      = p.created_at
      %br
.posts
  Посты submit
  %br
  .submit_posts
    -@posts["submit"].each do |p|
      = p.message
      = p.created_at
      %br
